.container {
  position: relative;
  background-image: url('../../../../assets/images/home/home-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.logo {
  position: absolute;
  width: 345px;
  height: 143px;
  left: 93px;
  top: 840px;
}

.title {
  position: absolute;
  width: 665px;
  height: 220px;
  left: 93px;
  top: 1039px;
  font-family: Displace-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  color: #ffffff;
}

.homeBtn {
  position: absolute;
  left: 93px;
  top: 1349px;
  width: 438px;
  height: 79px;
  padding: 20px 160px;
  border-radius: 67px;
}

.btnText {
  width: 118px;
  height: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: white;
}

.wavesBg {
  position: absolute;
  bottom: 0;
  width: 1080px;
  height: 290px;
}

.waves {
  position: absolute;
  bottom: 0;
  width: 1080px;
}

.waves::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(35, 40, 44, 0) 0%,
    rgba(35, 40, 44, 0.75) 50%,
    rgba(35, 40, 44, 0.9) 80%,
    rgba(35, 40, 44, 1) 95%
  );
  animation: collaps-shadow 2s ease-out 1;
  width: 0%;
}

.expandedWaves {
  height: 284px;
  /* height: 428px; */
  background-image: url('../../../../assets/images/wave-no-bg.png');
  transform: scaleY(-1);
  background-position: bottom;
  background-size: contain 100%;
  background-repeat: no-repeat;
  animation: extend-image 2s ease-in-out 1;
}

@keyframes extend-image {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

@keyframes collaps-shadow {
  0% {
    width: 100%;
    height: 274px;
  }

  70% {
    width: 02%;
    height: 274px;
  }

  85% {
    height: 254px;
  }

  100% {
    width: 0;
    height: 150px;
  }
}
