.container {
  position: relative;
  background-image: url('../../../../assets/images/home/home-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.writer {
  /* position: absolute; */
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
}

.title div {
  width: fit-content;
  width: fit-content;
  display: inline-block;
}

.logo {
  position: absolute;
  width: 345px;
  height: 143px;
  left: 93px;
  top: 840px;
}

.title {
  position: absolute;
  width: 665px;
  height: 220px;
  left: 93px;
  top: 1039px;
  font-family: Displace-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  color: #ffffff;
}

.homeBtn {
  position: absolute;
  left: 93px;
  top: 1349px;
  width: 438px;
  height: 79px;
  padding: 20px 160px;
  border-radius: 67px;
}

.btnText {
  width: 118px;
  height: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: white;
}

.wavesBg {
  position: absolute;
  bottom: 0;
  width: 1080px;
  height: 230px;
}

.waves {
  position: absolute;
  bottom: 0;
  width: 1080px;
}

.maskedWaves {
  -webkit-mask-image: linear-gradient(90deg, #0000, #fff, #0000);
  mask-image: linear-gradient(90deg, #0000, #fff, #0000);
  -webkit-mask-size: 300% 100%;
  mask-size: 300% 100%;
  animation: clip-fade 4s infinite alternate;
  -webkit-mask-position: right;
  mask-position: right;
}

@keyframes clip-fade {
  100% {
    -webkit-mask-position: left;
    mask-position: left;
  }
}

@keyframes extend-image {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

@keyframes collaps-shadow {
  0% {
    width: 100%;
    height: 274px;
  }

  70% {
    width: 02%;
    height: 274px;
  }

  85% {
    height: 254px;
  }

  100% {
    width: 0;
    height: 150px;
  }
}
