.container {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 3s ease-in;
  animation: animatedBackground 10s linear infinite alternate;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../../../../assets/images/home/home-background.jpg');
  background-size: 110% 110%;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes bgFadeIn {
  0% {
  }

  100% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
}

.navbar {
  background-color: #23282c;
  opacity: 0.7;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.footer {
  height: 33vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  background-image: url('../../../../assets/images/home/home-waves.png');
  background-position: bottom; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container  */
  background-repeat: no-repeat; /* Do not repeat the image */
  display: inline-flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.textContainer {
  margin-top: 17em;
  margin-left: 20px;
  width: 600px;
  height: 100%;
}
.homeTitle {
  font-size: 2em;
  font-weight: bolder;
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
