.wrapper {
  float: right;
  padding: 12px;
  border: 2.25879px solid #b29164;
  border-radius: 16.5645px;
  margin: 0 0 20px 20px;
}

.wrapper p {
  font-family: 'Inter';
  font-size: 16px;
  color: #b49164;
}

.selection {
  border: 1px solid #b29164;
  border-radius: 8px;
  padding: 12px;
  margin-top: 12px;
}
