.Bar{
    background-color: #1D2124;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.HomeBtn{
    border: 2px solid black;
background-color: #1D2124;
color: white;
border-color: #B29164;
border-radius: 1.5em;
padding: 0.7em 4em 0.7em 4em;
margin: auto;
}
p{
    margin: 0;

}
img{
    margin: auto;
    height: 3em;
}
.TitleDiv{
margin: auto;
text-align: center;
}

.TitleDiv p {
    font-size: 0.7em;
}

.TitleDiv h1 {
    font-family: Displace-Regular;
    font-size: 2.7em;
    margin: 0;
}