.footerContainer {
  width: 100vw;
  /* height: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 51px;
  position: absolute;
  bottom: 20px;
  bottom: 100px;
  z-index: 10000;
}
