.modal {
  position: fixed;
  left: 110px;
  top: 357px;
  width: 883px;
  height: 1191px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 120px;
  transition: transform 300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
  z-index: 100;
  opacity: 0;
  transform: scale(80%, 80%);
  animation: popUpFade ease 3s forwards !important;
}

@keyframes popUpFade {
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

.modelWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.btnClose {
  position: absolute;
  top: 36px;
  right: 29px;
  width: 40px;
  height: 40px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
  border: none;
}

.imgWrapper {
  width: 883px;
  height: 575px;
}

.img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 883px;
  height: 575px;
  border-radius: 20px 20px 0 0;
}

.content {
  margin: 80px auto auto auto;
  width: 737px;
  height: 288px;
}

.content .title {
  margin-top: 0;
  margin-left: 0;
  left: 0;
  /* font-family: Displace-Medium; */
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #23282c;
  margin-bottom: 29px;
}

.content .description {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #23282c;

  opacity: 0.7;
  margin-bottom: 20.5px;
}
