.wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 30px 0 0 15px;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 19px;
  height: 100%;
  width: 4px;
  border-left: 4px dashed #b49164;
  z-index: 0;
}

.wrapper p {
  font-family: 'Inter';
  font-size: 20px;
  opacity: 0.7;
}

.num {
  position: relative;
  margin-right: 30px;
}

.num::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b49164;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
}
