.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;

  overflow: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slide {
  position: relative;
  flex-shrink: 0;
  width: 960px;
  height: 385px;
  background: #b49164;
  margin-right: 50px;
  border-radius: 15px;
  scroll-snap-align: start;
}
.slides {
  opacity: 0;
  transform: translateX(-1000px);
  animation: fadeInRight ease 1.5s forwards !important;
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slides h1,
.slides h2,
.slides h3,
.slides h4,
.slides h5,
.slides h6 {
  transform: translateX(-3rem);
  animation: fadeInRightText 1s ease 1s forwards !important;
}

@keyframes fadeInRightText {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.scrollBtnsWrp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 58px;
}

.scrollBtn {
  display: inline-flex;
  width: 16px;
  height: 16px;
  background: rgba(180, 145, 100, 0.19);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.activeBtn {
  background: rgba(180, 145, 100, 1);
}

.slideBtn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #1d2225;
  border: 1px solid #b49164;
}

.scrollBtn:active {
  top: 1px;
  background: #b49164;
}
.scrollBtna:focus {
  background: #b49164;
}

/* Don't need button navigation */
/* @supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
} */
