.wrapper {
  margin-top: -70px;
  position: relative;
  padding: 0 60px;
  height: fit-content;

  z-index: 1000;
}

.image {
  float: right;
  margin: 10px 0 20px 20px;
}

.wrapper h1 {
  font-family: 'Displace-Medium';
  font-size: 40px;
  margin-bottom: 25px;
}

.wrapper p {
  font-family: 'Inter';
  font-size: 20px;
  opacity: 0.7;
  margin-bottom: 20px;
  line-height: 133.02%;
}

.wrapper .subheading {
  font-weight: bold;
  font-size: 24px;
  color: #ae926a;
  opacity: 1;
}
