.navbar {
  position: fixed;
  background-color: #23282c;
  opacity: 0.5;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  height: 75px;
  padding-left: 3em;
}

.logo {
  width: 100px;
  height: auto;
}
