.container {
  flex-grow: 1;
  max-height: 440px;
  margin-top: 40px;
  overflow-y: scroll;
}

.title {
  height: 38px;
  font-family: Displace-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #b29164;
  margin-bottom: 28px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 133.02%;
  color: #ffffff;
  width: 95%;
  opacity: 0.7;
  margin-top: 28px;
}

.divider {
  border: 0;
  border: 1px solid #5d5d5d;
  height: 0px;
  margin-bottom: 28px;
  animation: expand-divider 2s ease-out 1 forwards normal;
}

.image {
  width: 100%;
  display: block;
  height: 315px;
  object-fit: cover;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes expand-divider {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  width: 10px;
  border: none;
  background: transparent;
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #b29164;
}

::-webkit-scrollbar-track {
  background-image: url('/src/Images/scrollBar.png');
  background-repeat: repeat-y;
  background-size: contain;
}

::-webkit-scrollbar-button {
  background-size: 25px;
  background-position: center;
  height: 23px;
  &:decrement {
    background-image: url('/src/Images/arrowUp.png');
  }
  &:increment {
    background-image: url('/src/Images/arrowDown.png');
  }
}
