.heading {
  font-family: 'Displace-Regular';
  font-size: 40px;
  color: #b29164;
  margin: 0;
}
.divider {
  border: 0;
  /* border: 1px solid #5d5d5d; */
  height: 1px;
  background-color: #5d5d5d;
  margin: 45px 0;
  animation: expand-divider 2s ease-out 1 forwards normal;
}
.temp_wrapper {
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.temp_wrapper img {
  width: 200px;
  border-radius: 10px;
}

.temp_1 {
  font-family: "Displace-Medium";
  font-size: 28px;
  margin-bottom: 16px;
}

.temp_2 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 16px;
}

.temp_p {
  font-family: "Inter";
  font-size: 18px;
  opacity: 0.7;
}
