.button {
  display: inline-block;
  background-color: #23282c;
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
  border: solid #b49164 2px;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: Inter;
  line-height: 0;
  width: 220px;
  height: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.iconButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 175.55px;
  height: 57px;
  padding: 16px 41px 16px 41px;
  font-weight: 700;
  font-size: 21px;
  text-align: end;
  color: rgba(255, 255, 255, 0.6);
  line-height: 25.36px;
  border: solid #b49164 3px;
}

.textButton {
  padding-top: 6px;
}

.icon {
  width: 16px;
  height: 16px;
}

.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #23282c;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: darken(#23282c, 15%);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:active {
  color: #fff;
  transform: scale(105%);
}
.button:active:before {
  width: 100%;
}

.active {
  background-color: #b49164;
  color: #23282c;
}

.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #b49164;
  border-radius: 10rem;
  z-index: -2;
}
