.main {
  background-color: #1d2225;
  width: 973px;
  height: 1037px;
  padding: 66px 54px 71px 54px;
  margin-left: 53.5px;
  margin-right: 53.5px;
}

.tabsWrapper {
  width: 973px;
  margin-left: 53.5px;
  margin-right: 53.5px;
}
