.container {
  position: relative;
}
.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 245px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  /* background-image: url('../../../assets/images/Waves.png'); */
  /* background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(90deg, #0000, #fff, #0000);
  mask-image: linear-gradient(90deg, #0000, #fff, #0000);
  -webkit-mask-size: 300% 100%;
  mask-size: 300% 100%;
  animation: clip-fade 5s infinite alternate;
  -webkit-mask-position: right;
  mask-position: right; */
}

@keyframes clip-fade {
  100% {
    -webkit-mask-position: left;
    mask-position: left;
  }
}
