/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #23282c;
  --gold: #b49164;
  --white-grey: #ebebeb;
}

body {
  position: relative;
  color: white;
  height: 1920px;
  width: 1080px;
  background-color: #23282c;
  font-family: sans-serif;
  /* overflow-y: hidden; */
}

.homeLink {
  position: fixed;
  bottom: 40px;
  left: 430px;
  /* transform: translateX(430px); */
}

.homeBtn {
  border-radius: 20px !important;
}

h1 {
  animation: typing 1s steps(22), blink 0.5s step-end infinite alternate;
  overflow: hidden;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

p {
  animation: fadeIn ease 2.6s forwards !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* animation: fadeInText 5s; */
  /* color: hsl(0 0% 0% / 0.7); */
  opacity: 0;
  transform: translateY(1rem);
  animation: fadeInUp ease 1s forwards !important;
}

img {
  animation: fadeIn 2.6s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: Displace-Medium;
  src: url('../Fonts/Displace/Displace20-Medium.0d89bcfd.ttf')
    format('opentype');
}
@font-face {
  font-family: Displace-Regular;
  src: url('../Fonts/Displace/Displace20-Regular.b6b66228.otf')
    format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

.fadingEffect {
  position:absolute;
  top:0; bottom:0; right:0;
  width:100%;
  background:white;
  -moz-animation: showHide 5s ease-in alternate infinite; /* Firefox */
  -webkit-animation: showHide 5s ease-in alternate infinite; /* Safari and Chrome */
  -ms-animation: showHide 5s ease-in alternate infinite; /* IE10 */
  -o-animation: showHide 5s ease-in alternate infinite; /* Opera */
  animation: showHide 5s ease-in alternate infinite;
}
@-webkit-keyframes showHide { /* Chrome, Safari */
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:100%;}
}
@-moz-keyframes showHide { /* FF */
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:100%;}
}
@-ms-keyframes showHide { /* IE10 */
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:100%;}
}
@-o-keyframes showHide { /* Opera */
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:100%;}
}
@keyframes showHide {
  0% {width:100%}
  40% {width:0%}
  60% {width:0%;}
  100% {width:100%;}
}