/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #23282c;
  --gold: #b49164;
  --white-grey: #ebebeb;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: Displace-Medium;
  src: url('../Fonts/Displace/Displace20-Medium.0d89bcfd.ttf')
    format('opentype');
}
@font-face {
  font-family: Displace-Regular;
  src: url('../Fonts/Displace/Displace20-Regular.b6b66228.otf')
    format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
