/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
}
@font-face {
  font-family: Displace-Medium;
  src: url('../Fonts/Displace/Displace20-Medium.0d89bcfd.ttf')
    format('opentype');
}
@font-face {
  font-family: Displace-Regular;
  src: url('../Fonts/Displace/Displace20-Regular.b6b66228.otf')
    format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
